@import './styles/variables.scss';
@import './styles/mixins.scss';

@font-face {
  font-family: "CraftworkGrotesk-Regular";
  src: local("CraftworkGrotesk-Regular"), //локальное название шрифта
  url("./fonts/grotesk/CraftworkGrotesk-Regular.ttf") format("truetype");
  font-weight: bold;
}

*{
  font-family: "CraftworkGrotesk-Regular";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'CraftworkGrotesk-Regular',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black-main;
  color: $white-main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height:100vh;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  background-color: $black-main;
  padding-bottom: 20%;
}

.header {
  &__wrap {
    @include section-paddings;
    background-color: $orange-main;
    color: $black-main;
    padding-top: 1.5vh;
    padding-bottom: 0.2vh;
  }

  &__text {
    font-family: "CraftworkGrotesk-Regular";
    font-weight: 400;
    font-size: $font-size-50;
    text-align: left;
  }
}

.form {
  margin-left: 7.5vw;
  background-color: $black-main;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-bottom: 3%;
  width: 60%;
  min-height: fit-content;
  min-width: fit-content;
  border: 1px solid $gray-main;
  border-radius: 7px;
}

.tabText {
  color: $white-main;
  padding-top: 3%;
}

.tarifs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

.tarif {
  padding-top: 3%;
  border: 1px solid $gray-main;
  border-radius: 7px;
  width: 40%;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  &__title {
    color: $white-main;
  }

  &__desk {
    color: $gray-main;
  }

  &__saleWrap {
    display: flex;
    align-items: center;
    gap: 3%;
    padding-top: 3%;
    padding-left: 6.7%;
    
    p {
      margin-bottom: 0;
      color: $gray-main;
    }

    input {
      width: 7.5%;
    }
  }

  &__options {
    margin-left: 6.7%;
    margin-right: 6.7%;
    margin-top: 3%;
  }

  &:hover {
    cursor: pointer;
  }
}

.tarif_active {
  background-color: $orange-main;
  border-color: $orange-main;

  .tarif__title {
    color: $black-main;
  }

  .tarif__desk {
    color: $black-main;
  }
}

.branding {
  &__wrap{
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 10%;
  }

  &__switch {
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 3%;
    width: 40%;
  }

  &__saleWrap {
    display: flex;
    align-items: center;
    gap: 3%;
    
    p {
      margin-bottom: 0;
    }

    input {
      width: 20.5%;
    }
  }
}

.result {
  width: 25%;
  min-width: fit-content;
  margin-top: 5%;
  background-color: $black-main;
  margin-right: 7.5vw;

  &__content {
    border: 1px solid $gray-main;
    border-radius: 7px;
    width: 100%;
    min-height: 30%;
  }

  &__title {
    text-align: left;
    border-bottom: 1px solid $gray-op;
    color: $orange-main;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
}

.footer {
  background-color: $black-main;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: left;
  font-family: "CraftworkGrotesk-Regular";
  color: $white-main;
  padding-top: 0.5vh;
  padding-bottom: 1vh;

  &__text,
  &__h3 {
    @include section-paddings;
  }

  &__link {
    color: $white-main;
  }
}