@import './styles/variables.scss';
@import './styles/mixins.scss';

@font-face {
  font-family: "CraftworkGrotesk-Regular";
  src: local("CraftworkGrotesk-Regular"), //локальное название шрифта
  url("./fonts/grotesk/CraftworkGrotesk-Regular.ttf") format("truetype");
  font-weight: bold;
}

*{
  font-family: "CraftworkGrotesk-Regular";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'CraftworkGrotesk-Regular',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black-main;
  color: $white-main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  min-height: 120vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  background-color: $black-main;
}

.header {
  &__wrap {
    @include section-paddings;
    background-color: $orange-main;
    color: $black-main;
    padding-top: 1.5vh;
    padding-bottom: 0.2vh;
  }

  &__text {
    font-family: "CraftworkGrotesk-Regular";
    font-weight: 400;
    font-size: $font-size-50;
    text-align: left;
  }
}

.form {
  margin-left: 7.5vw;
  background-color: $black-main;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-bottom: 3%;
  width: 60%;
  height: 80%;
  min-height: fit-content;
  min-width: fit-content;
  border: 1px solid $gray-main;
  border-radius: 7px;
}

.tabText {
  color: $white-main;
  padding-top: 3%;
}

.tarifs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

.tarif {
  padding-top: 3%;
  border: 1px solid $gray-main;
  border-radius: 7px;
  width: 40%;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  &__title {
    color: $white-main;
  }

  &__desk {
    color: $gray-main;
  }

  &__saleWrap {
    display: flex;
    align-items: center;
    gap: 3%;
    padding-top: 3%;
    padding-left: 6.7%;
    
    p {
      margin-bottom: 0;
      color: $gray-main;
    }

    input {
      width: 7.5%;
    }
  }

  &__options {
    margin-left: 6.7%;
    margin-right: 6.7%;
    margin-top: 3%;
  }

  &:hover {
    cursor: pointer;
  }
}

.tarif_active {
  background-color: $orange-main;
  border-color: $orange-main;

  .tarif__title {
    color: $black-main;
  }

  .tarif__desk {
    color: $black-main;
  }
}

.branding {
  &__wrap{
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 10%;
  }

  &__switch {
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 3%;
    width: 40%;
  }

  &__saleWrap {
    display: flex;
    align-items: center;
    gap: 3%;
    
    p {
      margin-bottom: 0;
    }

    input {
      width: 20.5%;
    }
  }
}

.plusGb {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;

  &__gbWrap,
  &__saleWrap {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 40%;

  input {
    width: 20%;
  }

  p {
    margin-bottom: 0;
  }
  }
}

.fz {
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 10%;

  &__switch {
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 3%;
    width: 40%;
  }

  &__saleWrap {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 40%;

    input {
      width: 20%;
    }
  
    p {
      margin-bottom: 0;
      color: $white-main;
    }
  }
}

.repoGb {
  @include section-paddings;

  &__title {
    padding-top: 15%;
    color: $white-main;
  }

  &__slider {
    padding-top: 10% !important;
    padding-bottom: 3% !important;
  }

  &__values {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $white-main;
    padding-bottom: 10%;
  }

  &__resWrap {
    display: flex;
    justify-content: start;
    gap: 10%;
  }

  &__res {
    text-align: start;
    color: $orange-main;
    margin-bottom: 0;
  }

  &__saleText {
    color: $white-main;
  }

  &__saleWrap {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 40%;
    

    input {
      width: 20%;
    }
  
    p {
      margin-bottom: 0;
    }
  }
}

.veeam {
  @include section-paddings;

  &__title {
    padding-top: 8%;
    color: $white-main;
  }

  &__subtitle {
    color: $gray-main;
    padding-bottom: 5%;
  }

  &__switch {
    color: $white-main;
    display: flex !important;
    justify-content: start;
    align-items: flex-start;
    gap: 3%;
    font-size: 1vw;
  }

  &__saleWrap {
    padding-top: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    width: 40%;

    input {
      width: 20%;
    }
  
    p {
      margin-bottom: 0;
      color: $white-main;
    }
  }
}

.result {
  width: 25%;
  min-width: fit-content;
  margin-top: 5%;
  background-color: $black-main;
  margin-right: 7.5vw;
  color: $white-main;

  &__content {
    border: 1px solid $gray-main;
    border-radius: 7px;
    width: 100%;
    min-height: 30%;
  }

  &__title {
    text-align: left;
    border-bottom: 1px solid $gray-op;
    color: $orange-main;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  &__empty {
    color: $white-main;
    text-align: start;
    padding-left: 5%;
  }

  &__wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  &__subtitle {
    color: $orange-main;
    text-align: left;
    font-size: 1vw;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__itemName,
  &__itemPrice {
    font-size: 0.85vw;
  }

  &__itemName {
    text-align: left;
  }

  &__itemPrice {
    align-self: flex-end;
  }

  &__saleWrap {
    display: flex;
    justify-content: space-between;
  }

  &__sale,
  &__salePrice {
    font-size: 0.75vw;
    margin-top: -3%;
    margin-bottom: 5%;
  }

  &__salePrice {
    color: $orange-main;
  }

  &__priceTitle {
    text-align: left;
    border-top: 1px solid $gray-op;
    color: $orange-main;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  &__priceItem{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
  }

  &__itemPrice {
    &--discount {
      color: $orange-main;
    }

    &--final {
      color: $orange-main; 
      font-size: 1vw;
    }
  }
}

.btn {
  &--done {
    margin-top: 5%;
    padding: 3.5% 10%;
    border-radius: 100px;
    background-color: $black-main;
    border: 1px solid $white-main;
    color: $white-main;

    &:hover {
      background-color: $orange-main;
      color: $black-main;
      border: 1px solid $orange-main;
    }
  }
}

.modal {
  &__result {
    max-width: 100%;
    word-break: break-all;
  }
}

.footer {
  background-color: $black-main;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: left;
  font-family: "CraftworkGrotesk-Regular";
  color: $white-main;
  padding-top: 0.5vh;
  padding-bottom: 1vh;

  &__text,
  &__h3 {
    @include section-paddings;
  }

  &__link {
    color: $white-main;
  }
}