@import './styles/variables.scss';
@import './styles/mixins.scss';

@font-face {
  font-family: "CraftworkGrotesk-Regular";
  src: local("CraftworkGrotesk-Regular"), //локальное название шрифта
  url("./fonts/grotesk/CraftworkGrotesk-Regular.ttf") format("truetype");
  font-weight: bold;
}

*{
  font-family: "CraftworkGrotesk-Regular";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'CraftworkGrotesk-Regular',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black-main;
  color: $white-main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 85vh;
}

.header {
  &__wrap {
    @include section-paddings;
    background-color: $orange-main;
    color: $black-main;
    padding-top: 1.5vh;
    padding-bottom: 0.2vh;
  }

  &__text {
    font-family: "CraftworkGrotesk-Regular";
    font-weight: 400;
    font-size: $font-size-50;
    text-align: left;
  }
}

.form {
  @include section-paddings;
  background-color: $black-main;
  padding-top: 5%;
  padding-bottom: 10%;
  height: 100%;
}

.tabText {
  color: $white-main;
}

.footer {
  background-color: $black-main;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: left;
  font-family: "CraftworkGrotesk-Regular";
  color: $white-main;
  padding-top: 0.5vh;
  padding-bottom: 1vh;

  &__text,
  &__h3 {
    @include section-paddings;
  }

  &__link {
    color: $white-main;
  }
}