$black-main: #151515;
$orange-main: #FFC800;
$white-main: #FFFFFF;
$gray-main: #8C8C8C;
$beuge-main: #F4F0E2;


$font-size-10: 0.694vw;
$font-size-12: 0.833vw;
$font-size-13: 0.903vw;
$font-size-14: 0.972vw;
$font-size-15: 1.042vw;
$font-size-16: 1.111vw;
$font-size-18: 1.25vw;
$font-size-20: 1.389vw;
$font-size-26: 1.806vw;
$font-size-32: 2.222vw;
$font-size-50: 3.58vw;